#**Data Wrangling**

***Data Wrangling***: It prepares raw-data for analysis.  
This process involves discovering, cleaning and reformatting, restructuring/reshaping, enriching and validating data.

In [1]:
import pandas as pd

In [2]:
#reading the csv file
data=pd.read_csv('/content/Crop_Production.csv')
data

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75
...,...,...,...,...,...,...,...,...
345331,West Bengal,PURULIA,Wheat,2015,Rabi,855.0,1241.0,1.45
345332,West Bengal,PURULIA,Wheat,2016,Rabi,1366.0,2415.0,1.77
345333,West Bengal,PURULIA,Wheat,2017,Rabi,1052.0,2145.0,2.04
345334,West Bengal,PURULIA,Wheat,2018,Rabi,833.0,2114.0,2.54
345335,West Bengal,PURULIA,Wheat,2019,Rabi,516.0,931.0,1.80

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345336 entries, 0 to 345335
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   State       345336 non-null  object
 1   District    345336 non-null  object
 2   Crop        345327 non-null  object
 3   Crop_Year   345336 non-null  int64
 4   Season      345336 non-null  object
 5   Area        345336 non-null  float64
 6   Production  340388 non-null  float64
 7   Yield       345336 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 21.1+ MB

In [4]:
print('Dimensions of the dataset are:')
data.shape

Dimensions of the dataset are:

(345336, 8)

In [5]:
#accessing only the number of rows
data.shape[0]

345336

In [6]:
data.describe()

           Crop_Year         Area     Production          Yield
count  345336.000000  3.453360e+05  3.403880e+05  345336.000000
mean     2008.887512  1.167147e+04  9.584726e+05      79.423135
std         6.564361  4.584079e+04  2.153068e+07     916.678396
min      1997.000000  4.000000e-03  0.000000e+00       0.000000
25%      2003.000000  7.400000e+01  8.700000e+01       0.550000
50%      2009.000000  5.320000e+02  7.170000e+02       1.000000
75%      2015.000000  4.112000e+03  7.182000e+03       2.470000
max      2020.000000  8.580100e+06  1.597800e+09   43958.330000

In [7]:
data.dtypes

State          object
District       object
Crop           object
Crop_Year       int64
Season         object
Area          float64
Production    float64
Yield         float64
dtype: object

##1. Discovering

(i) Read in the Crop_Production data from the csv file. Write code to list all column
names that have trailing or leading spaces, check for inconsistent spellings or
capitalization in categorical columns values like 'District'

In [8]:
print('List of all column names:')
data.columns

List of all column names:

Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')

In [9]:
print("Columns with leading/trailing spaces:")
for col in data.columns:
    if col.strip() != col:
        print(col)

Columns with leading/trailing spaces:
District
Area

In [10]:
data['State'].unique()

array(['Andaman and Nicobar Island', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'CHANDIGARH',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Laddak',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'THE DADRA AND NAGAR HAVELI',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [11]:
print('fixed inconsistencies:')
data.replace({'CHANDIGARH':'Chandigarh','THE DADRA AND NAGAR HAVELI':'The Dadra and Nagar Haveli'},inplace=True)
data['State'].unique()

fixed inconsistencies:

array(['Andaman and Nicobar Island', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Laddak',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'The Dadra and Nagar Haveli',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [12]:
data['District '].unique()

array(['NICOBARS', 'NORTH AND MIDDLE ANDAMAN', 'SOUTH ANDAMANS',
       'ANANTAPUR', 'EAST GODAVARI', 'KRISHNA', 'VIZIANAGARAM',
       'WEST GODAVARI', 'ADILABAD', 'CHITTOOR', 'GUNTUR', 'KADAPA',
       'KARIMNAGAR', 'KHAMMAM', 'KURNOOL', 'MAHBUBNAGAR', 'MEDAK',
       'NALGONDA', 'NIZAMABAD', 'PRAKASAM', 'RANGAREDDI', 'SPSR NELLORE',
       'SRIKAKULAM', 'VISAKHAPATANAM', 'WARANGAL', 'HYDERABAD',
       'DIBANG VALLEY', 'EAST KAMENG', 'EAST SIANG', 'KAMLE', 'LEPARADA',
       'LOHIT', 'LONGDING', 'LOWER DIBANG VALLEY', 'LOWER SIANG',
       'LOWER SUBANSIRI', 'NAMSAI', 'PAKKE KESSANG', 'PAPUM PARE',
       'SIANG', 'TIRAP', 'UPPER SIANG', 'UPPER SUBANSIRI', 'WEST SIANG',
       'ANJAW', 'CHANGLANG', 'KRA DAADI', 'KURUNG KUMEY', 'SHI YOMI',
       'TAWANG', 'WEST KAMENG', 'BAKSA', 'BARPETA', 'BISWANATH\n',
       'BONGAIGAON', 'CACHAR', 'CHARAIDEO\n', 'CHIRANG', 'DARRANG',
       'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'DIMA HASAO', 'GOALPARA',
       'GOLAGHAT', 'HAILAKANDI', 'HOJAI\n', 'JORHAT', 'KAMRUP',
       'KAMRUP METRO', 'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR',
       'LAKHIMPUR', 'MAJULI\n', 'MARIGAON', 'NAGAON', 'NALBARI',
       'SIVASAGAR', 'SONITPUR', 'SOUTH SALMARA MANCACHAR\n', 'TINSUKIA',
       'UDALGURI', 'WEST KARBI ANGLONG\n', 'ARARIA', 'ARWAL',
       'AURANGABAD', 'BANKA', 'BEGUSARAI', 'BHAGALPUR', 'BHOJPUR',
       'BOKARO', 'BUXAR', 'CHATRA', 'DARBHANGA', 'DEOGHAR', 'DHANBAD',
       'DUMKA', 'EAST SINGHBUM', 'GARHWA', 'GAYA', 'GIRIDIH', 'GODDA',
       'GOPALGANJ', 'GUMLA', 'HAZARIBAGH', 'JAMUI', 'JEHANABAD',
       'KAIMUR (BHABUA)', 'KATIHAR', 'KHAGARIA', 'KISHANGANJ', 'KODERMA',
       'LAKHISARAI', 'LOHARDAGA', 'MADHEPURA', 'MADHUBANI', 'MUNGER',
       'MUZAFFARPUR', 'NALANDA', 'NAWADA', 'PAKUR', 'PALAMU',
       'PASHCHIM CHAMPARAN', 'PATNA', 'PURBI CHAMPARAN', 'PURNIA',
       'RANCHI', 'ROHTAS', 'SAHARSA', 'SAHEBGANJ', 'SAMASTIPUR', 'SARAN',
       'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI', 'SIWAN', 'SUPAUL',
       'VAISHALI', 'WEST SINGHBHUM', 'Chandigarh', 'BALOD',
       'BALODA BAZAR', 'BALRAMPUR', 'BASTAR', 'BEMETARA', 'BIJAPUR',
       'BILASPUR', 'DANTEWADA', 'DHAMTARI', 'DURG', 'GARIYABAND',
       'GAURELLA-PENDRA-MARWAHI', 'JANJGIR-CHAMPA', 'JASHPUR',
       'KABIRDHAM', 'KANKER', 'KONDAGAON', 'KORBA', 'KOREA', 'MAHASAMUND',
       'MUNGELI', 'NARAYANPUR', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON',
       'SUKMA', 'SURAJPUR', 'SURGUJA', 'DADRA AND NAGAR HAVELI', 'DIU',
       'DAMAN', 'DELHI_TOTAL', 'NORTH GOA', 'SOUTH GOA', 'AHMADABAD',
       'AMRELI', 'ANAND', 'ARAVALLI', 'BANAS KANTHA', 'BHARUCH',
       'BHAVNAGAR', 'BOTAD', 'CHHOTAUDEPUR', 'DANG', 'DEVBHUMI DWARKA',
       'DOHAD', 'GANDHINAGAR', 'GIR SOMNATH', 'JAMNAGAR', 'JUNAGADH',
       'KACHCHH', 'KHEDA', 'MAHESANA', 'MAHISAGAR', 'MORBI', 'NARMADA',
       'NAVSARI', 'PANCH MAHALS', 'PATAN', 'PORBANDAR', 'RAJKOT',
       'SABAR KANTHA', 'SURAT', 'SURENDRANAGAR', 'TAPI', 'VADODARA',
       'VALSAD', 'AMBALA', 'BHIWANI', 'CHARKI DADRI', 'FARIDABAD',
       'FATEHABAD', 'GURGAON', 'HISAR', 'JHAJJAR', 'JIND', 'KAITHAL',
       'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL',
       'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT',
       'YAMUNANAGAR', 'CHAMBA', 'KANGRA', 'KULLU', 'MANDI', 'SHIMLA',
       'SIRMAUR', 'SOLAN', 'UNA', 'HAMIRPUR', 'KINNAUR',
       'LAHUL AND SPITI', 'JAMMU', 'SAMBA', 'BANDIPORA', 'DODA', 'KATHUA',
       'KISHTWAR', 'KUPWARA', 'LEH LADAKH', 'RAJAURI', 'REASI',
       'UDHAMPUR', 'BARAMULLA', 'GANDERBAL', 'RAMBAN', 'SRINAGAR',
       'BADGAM', 'ANANTNAG', 'KULGAM', 'POONCH', 'PULWAMA', 'SHOPIAN',
       'KARGIL', 'JAMTARA', 'KHUNTI', 'LATEHAR', 'RAMGARH',
       'SARAIKELA KHARSAWAN', 'SIMDEGA', 'BAGALKOTE', 'BALLARI',
       'BANGALORE RURAL', 'BELAGAVI', 'BENGALURU URBAN',
       'CHAMARAJANAGARA', 'CHIKKABALLAPURA', 'CHIKKAMAGALURU',
       'CHITRADURGA', 'DAKSHINA KANNADA', 'DAVANGERE', 'DHARWAD', 'GADAG',
       'HASSAN', 'HAVERI', 'KALABURAGI', 'KODAGU', 'KOLAR', 'MANDYA',
       'MYSURU', 'RAMANAGARA', 'SHIVAMOGGA', 'TUMAKURU', 'UDUPI',
       'UTTARA KANNADA', 'VIJAYAPURA', 'BIDAR', 'KOPPAL', 'RAICHUR',
       'YADAGIRI', 'ALAPPUZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR',
       'KASARAGOD', 'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM',
       'PALAKKAD', 'PATHANAMTHITTA', 'THIRUVANANTHAPURAM', 'THRISSUR',
       'WAYANAD', 'AGAR MALWA', 'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR',
       'BALAGHAT', 'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR',
       'CHHATARPUR', 'CHHINDWARA', 'DAMOH', 'DATIA', 'DEWAS', 'DHAR',
       'DINDORI', 'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE',
       'JABALPUR', 'JHABUA', 'KATNI', 'KHANDWA', 'KHARGONE', 'MANDLA',
       'MANDSAUR', 'MORENA', 'NARSINGHPUR', 'NEEMUCH', 'PANNA', 'RAISEN',
       'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA', 'SEHORE', 'SEONI',
       'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI', 'SINGRAULI',
       'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA', 'NIWARI', 'AHMEDNAGAR',
       'AKOLA', 'AMRAVATI', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR',
       'DHULE', 'GADCHIROLI', 'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA',
       'KOLHAPUR', 'LATUR', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK',
       'OSMANABAD', 'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI',
       'SANGLI', 'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA',
       'WASHIM', 'YAVATMAL', 'MUMBAI SUBURBAN', 'MUMBAI', 'BISHNUPUR',
       'CHANDEL', 'CHURACHANDPUR', 'IMPHAL EAST', 'IMPHAL WEST',
       'SENAPATI', 'TAMENGLONG', 'THOUBAL', 'UKHRUL', 'EAST GARO HILLS',
       'EAST JAINTIA HILLS', 'EAST KHASI HILLS', 'NORTH GARO HILLS',
       'RI BHOI', 'SOUTH GARO HILLS', 'SOUTH WEST GARO HILLS',
       'SOUTH WEST KHASI HILLS', 'WEST GARO HILLS', 'WEST JAINTIA HILLS',
       'WEST KHASI HILLS', 'AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI',
       'LUNGLEI', 'MAMIT', 'SAIHA', 'SERCHHIP', 'DIMAPUR', 'KIPHIRE',
       'KOHIMA', 'LONGLENG', 'MOKOKCHUNG', 'MON', 'PEREN', 'PHEK',
       'TUENSANG', 'WOKHA', 'ZUNHEBOTO', 'ANUGUL', 'BALANGIR',
       'BALESHWAR', 'BARGARH', 'BHADRAK', 'BOUDH', 'CUTTACK', 'DEOGARH',
       'DHENKANAL', 'GAJAPATI', 'GANJAM', 'JAGATSINGHAPUR', 'JAJAPUR',
       'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL', 'KENDRAPARA', 'KENDUJHAR',
       'KHORDHA', 'KORAPUT', 'MALKANGIRI', 'MAYURBHANJ', 'NABARANGPUR',
       'NAYAGARH', 'NUAPADA', 'PURI', 'RAYAGADA', 'SAMBALPUR', 'SONEPUR',
       'SUNDARGARH', 'MAHE', 'KARAIKAL', 'PONDICHERRY', 'YANAM',
       'AMRITSAR', 'BARNALA', 'BATHINDA', 'FARIDKOT', 'FATEHGARH SAHIB',
       'FAZILKA', 'FIROZEPUR', 'GURDASPUR', 'HOSHIARPUR', 'JALANDHAR',
       'KAPURTHALA', 'LUDHIANA', 'MANSA', 'MOGA', 'MUKTSAR', 'PATIALA',
       'RUPNAGAR', 'S NAGAR', 'SANGRUR', 'SHAHID BHAGAT SINGH NAGAR',
       'TARN TARAN', 'PATHANKOT', 'AJMER', 'ALWAR', 'BANSWARA', 'BARAN',
       'BARMER', 'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI',
       'CHITTORGARH', 'DAUSA', 'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR',
       'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE', 'JHALAWAR',
       'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTA', 'NAGAUR', 'PALI',
       'PRATAPGARH', 'RAJSAMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI',
       'TONK', 'UDAIPUR', 'CHURU', 'EAST DISTRICT', 'NORTH DISTRICT',
       'SOUTH DISTRICT', 'WEST DISTRICT', 'ARIYALUR', 'COIMBATORE',
       'CUDDALORE', 'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KANNIYAKUMARI',
       'KARUR', 'KRISHNAGIRI', 'MADURAI', 'NAGAPATTINAM', 'NAMAKKAL',
       'PERAMBALUR', 'PUDUKKOTTAI', 'SALEM', 'THANJAVUR', 'THE NILGIRIS',
       'THENI', 'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI',
       'TIRUPPUR', 'TIRUVANNAMALAI', 'VELLORE', 'VILLUPURAM',
       'VIRUDHUNAGAR', 'KANCHIPURAM', 'RAMANATHAPURAM', 'SIVAGANGA',
       'THIRUVALLUR', 'TUTICORIN', 'CHENNAI', 'KALLAKURICHI', 'TENKASI',
       'TIRUPATHUR', 'CHENGALPATTU', 'RANIPET', 'BHADRADRI',
       'HANUMAKONDA\n', 'JAGITIAL', 'JANGOAN', 'JAYASHANKAR', 'JOGULAMBA',
       'KAMAREDDY', 'KOMARAM BHEEM ASIFABAD', 'MAHABUBABAD', 'MANCHERIAL',
       'MEDCHAL MALKAJGIRI', 'MULUGU', 'NAGARKURNOOL', 'NARAYANAPET',
       'NIRMAL', 'PEDDAPALLI', 'RAJANNA', 'SANGAREDDY', 'SIDDIPET',
       'SURYAPET', 'VIKARABAD', 'WANAPARTHY', 'YADADRI', 'DHALAI',
       'GOMATI', 'KHOWAI', 'NORTH TRIPURA', 'SEPAHIJALA', 'SOUTH TRIPURA',
       'UNAKOTI', 'WEST TRIPURA', 'AGRA', 'ALIGARH', 'ALLAHABAD',
       'ALMORA', 'AMBEDKAR NAGAR', 'AMETHI', 'AMROHA', 'AURAIYA',
       'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALLIA', 'BANDA', 'BARABANKI',
       'BAREILLY', 'BASTI', 'BIJNOR', 'BUDAUN', 'BULANDSHAHR', 'CHAMOLI',
       'CHANDAULI', 'CHITRAKOOT', 'DEHRADUN', 'DEORIA', 'ETAH', 'ETAWAH',
       'FAIZABAD', 'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD',
       'GAUTAM BUDDHA NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA',
       'GORAKHPUR', 'HAPUR', 'HARDOI', 'HARIDWAR', 'HATHRAS', 'JALAUN',
       'JAUNPUR', 'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR',
       'KASGANJ', 'KAUSHAMBI', 'KHERI', 'KUSHI NAGAR', 'LALITPUR',
       'LUCKNOW', 'MAHARAJGANJ', 'MAHOBA', 'MAINPURI', 'MATHURA', 'MAU',
       'MEERUT', 'MIRZAPUR', 'MORADABAD', 'MUZAFFARNAGAR', 'NAINITAL',
       'PAURI GARHWAL', 'PILIBHIT', 'PITHORAGARH', 'RAE BARELI', 'RAMPUR',
       'SAHARANPUR', 'SAMBHAL', 'SANT KABEER NAGAR', 'SANT RAVIDAS NAGAR',
       'SHAHJAHANPUR', 'SHAMLI', 'SHRAVASTI', 'SIDDHARTH NAGAR',
       'SITAPUR', 'SONBHADRA', 'SULTANPUR', 'TEHRI GARHWAL',
       'UDAM SINGH NAGAR', 'UNNAO', 'UTTAR KASHI', 'VARANASI',
       'BAGESHWAR', 'CHAMPAWAT', 'RUDRA PRAYAG', 'PARAGANAS NORTH',
       'PARAGANAS SOUTH', 'BANKURA', 'BIRBHUM', 'COOCHBEHAR',
       'DARJEELING', 'DINAJPUR DAKSHIN', 'DINAJPUR UTTAR', 'HOOGHLY',
       'HOWRAH', 'JALPAIGURI', 'MALDAH', 'MEDINIPUR EAST',
       'MEDINIPUR WEST', 'MURSHIDABAD', 'NADIA', 'PURBA BARDHAMAN',
       'PURULIA', 'ALIPURDUAR', 'JHARGRAM\n', 'KALIMPONG\n',
       'PASCHIM BARDHAMAN\n'], dtype=object)

(ii) Find the top 5 highest 'Yield' crops on average across the entire dataset.

In [13]:
top_5_yield_crops=data.groupby('Crop')['Yield'].mean().sort_values(ascending=False).head()
print("Top 5 highest average 'Yield' crops:")
print(top_5_yield_crops)

Top 5 highest average 'Yield' crops:
Crop
Coconut      8833.247721
Sugarcane      55.592646
Banana         29.052143
Tapioca        18.905141
Onion          13.178732
Name: Yield, dtype: float64

(iii) Find all crop names ('Crop') that appear fewer than 300 times in the entire dataset.

In [14]:
count=data['Crop'].value_counts()
print("Crops appearing fewer than 300 times:")
print(count[count<300])

Crops appearing fewer than 300 times:
Crop
Other Summer Pulses    67
Name: count, dtype: int64

##2. Structuring

(i) Rename all column names that have trailing or leading spaces

In [15]:
data.columns

Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')

In [16]:
data.rename(columns={'District ':'District','Area ':'Area'},inplace=True)
data.columns

Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield'],
      dtype='object')

(ii) What is the seasonal performance of each crop, in terms of both total Production and
average Yield

In [48]:
seasonal_performance=data.groupby(['Crop','Season'])[['Production', 'Yield']].agg({'Production':'sum','Yield':'mean'})
seasonal_performance

                       Production     Yield
Crop     Season
arecanut autumn      6.180000e+03  0.745000
         kharif      4.404300e+04  2.849750
         rabi        8.435680e+05  1.081816
         summer      4.740000e+03  0.570000
         whole year  3.841776e+07  2.630663
...                           ...       ...
wheat    kharif      7.343600e+01  0.512500
         rabi        1.998381e+09  2.256420
         summer      5.336800e+04  1.381166
         whole year  8.865391e+06  1.800702
         winter      6.077969e+04  1.737273

[243 rows x 2 columns]

(iii) What is the year-wise total production for each crop

In [18]:
pivot_table=data.pivot_table(index='Crop',columns='Crop_Year',values='Production',aggfunc='sum')
pivot_table

Crop_Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Crop,,,,,,,,,,,,,,,,,,,,,
Arecanut,3.085840e+05,7.992740e+05,1.639050e+05,3.554150e+05,3.765140e+05,1.857550e+05,4.171790e+05,3.403280e+05,1.277052e+06,5.296480e+05,...,1.976272e+06,2.013331e+06,2.632202e+06,2.428380e+06,2.671675e+06,2.806129e+06,3.254257e+06,4.459325e+06,5.616624e+06,NaN
Arhar/Tur,1.713966e+06,2.631971e+06,2.548362e+06,2.250868e+06,2.245522e+06,1.795802e+06,2.325568e+06,1.844834e+06,2.182634e+06,2.142357e+06,...,2.466955e+06,2.829836e+06,3.021118e+06,2.078572e+06,2.166798e+06,5.566946e+06,4.393212e+06,3.162968e+06,4.002570e+06,3992.0
Bajra,7.413318e+06,7.066586e+06,5.790675e+06,6.918314e+06,8.282554e+06,4.727075e+06,1.207654e+07,8.065418e+06,7.140932e+06,8.362733e+06,...,1.242019e+07,8.790516e+06,9.975276e+06,9.465871e+06,7.844496e+06,9.808929e+06,9.317335e+06,8.663982e+06,1.118727e+07,NaN
Banana,1.612186e+06,6.261125e+06,5.799103e+06,6.621168e+06,4.217203e+06,6.377277e+06,1.095690e+07,7.770000e+06,9.736783e+06,1.138148e+07,...,1.271813e+07,4.225699e+06,1.095912e+07,9.485918e+06,1.117720e+07,1.138981e+07,1.795928e+07,1.927700e+07,1.899704e+07,NaN
Barley,1.637528e+06,1.517019e+06,1.415660e+06,1.418426e+06,1.418042e+06,1.378846e+06,1.305739e+06,1.172425e+06,1.182367e+06,1.250273e+06,...,1.601559e+06,1.818542e+06,1.812277e+06,1.537673e+06,1.516953e+06,1.931653e+06,1.931234e+06,1.508052e+06,1.800494e+06,24479.0
Black pepper,5.644400e+04,7.944900e+04,6.380400e+04,7.907100e+04,8.053600e+04,9.076400e+04,9.374000e+04,1.033000e+05,1.210500e+05,9.452000e+04,...,5.023300e+04,1.286740e+05,1.068060e+05,6.770800e+04,7.695300e+04,6.619800e+04,7.536700e+04,1.407230e+05,1.253280e+05,NaN
Cardamom,1.221000e+03,7.144000e+03,8.528000e+03,8.916000e+03,9.084000e+03,1.048700e+04,1.116300e+04,1.017200e+04,1.204400e+04,1.247000e+04,...,2.699000e+03,1.180000e+04,1.588200e+04,1.779000e+04,2.133500e+04,1.925700e+04,2.046700e+04,1.208900e+04,1.072500e+04,NaN
Cashewnut,7.414200e+04,8.149800e+04,1.033390e+05,1.392750e+05,1.279310e+05,1.519190e+05,1.747990e+05,1.645720e+05,1.794270e+05,1.747420e+05,...,1.678740e+05,1.391860e+05,1.997340e+05,1.996360e+05,1.728050e+05,1.626730e+05,2.064390e+05,2.343700e+05,2.695600e+05,NaN
Castor seed,7.766590e+05,8.374600e+05,7.684280e+05,8.889740e+05,6.444820e+05,4.276610e+05,7.913040e+05,8.083090e+05,9.432750e+05,8.017870e+05,...,2.308175e+06,1.955512e+06,1.756330e+06,1.846959e+06,1.738132e+06,1.370502e+06,1.716381e+06,1.191733e+06,1.802079e+06,NaN
Coconut,5.643107e+09,7.332635e+09,7.975608e+09,9.096443e+09,8.839858e+09,1.197843e+10,1.188073e+10,1.339861e+10,1.445371e+10,1.515662e+10,...,1.864934e+10,1.246352e+10,1.641517e+10,1.711629e+10,1.777001e+10,1.574686e+10,1.516973e+10,1.719797e+10,1.754067e+10,NaN
Coriander,4.362000e+03,1.992990e+05,2.096090e+05,2.281070e+05,3.048730e+05,1.663440e+05,3.839560e+05,2.533120e+05,1.689920e+05,2.255180e+05,...,4.188180e+05,2.819870e+05,2.291190e+05,2.375110e+05,6.065540e+05,6.111340e+05,5.409480e+05,4.898260e+05,5.181620e+05,NaN
Cotton(lint),1.008553e+07,1.189052e+07,1.145850e+07,9.154974e+06,9.835596e+06,8.561895e+06,1.362369e+07,1.697435e+07,1.838854e+07,2.151054e+07,...,2.909648e+07,2.535156e+07,3.413942e+07,2.761802e+07,2.181677e+07,2.797933e+07,3.109960e+07,2.613362e+07,3.317887e+07,NaN
Cowpea(Lobia),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.350000e+02,...,6.131100e+04,4.564600e+04,5.619900e+04,6.107900e+04,8.145500e+04,6.417600e+04,9.448100e+04,9.738000e+04,1.330750e+05,NaN
Dry chillies,5.767010e+05,8.574390e+05,9.320810e+05,9.101180e+05,9.328700e+05,8.126350e+05,1.168856e+06,1.114208e+06,8.056660e+05,1.103984e+06,...,1.156883e+06,1.156128e+06,1.271115e+06,1.283986e+06,1.413577e+06,2.176709e+06,1.471655e+06,1.370449e+06,1.561755e+06,NaN
Garlic,1.417940e+05,2.632730e+05,4.424030e+05,1.709570e+05,2.468470e+05,2.742200e+05,5.261500e+05,6.391220e+05,4.814450e+05,6.722060e+05,...,1.054861e+06,8.635870e+05,1.173976e+06,3.374560e+05,1.940096e+06,2.798873e+06,2.886682e+06,2.674084e+06,2.727480e+06,39638.0
Ginger,5.089200e+04,2.101890e+05,2.863840e+05,3.283730e+05,3.467200e+05,3.431880e+05,3.131440e+05,3.689520e+05,4.935700e+05,4.635450e+05,...,4.706490e+05,9.026340e+05,9.059460e+05,1.298796e+06,1.817839e+06,1.378066e+06,1.367487e+06,1.114974e+06,1.278481e+06,NaN
Gram,3.554103e+06,6.852594e+06,5.068132e+06,3.857598e+06,5.467643e+06,4.227685e+06,5.738860e+06,5.376715e+06,5.571213e+06,6.393010e+06,...,6.983911e+06,8.176469e+06,7.713053e+06,6.902723e+06,6.717889e+06,1.035933e+07,1.256571e+07,9.932540e+06,1.143014e+07,558.0
Groundnut,5.371768e+06,9.397149e+06,5.689538e+06,6.499156e+06,7.018603e+06,4.117665e+06,8.114619e+06,6.605251e+06,7.826239e+06,5.230148e+06,...,6.988127e+06,4.758676e+06,1.022793e+07,6.983462e+06,6.323061e+06,7.148294e+06,9.489191e+06,6.712988e+06,9.957031e+06,933.0
Guar seed,NaN,NaN,3.745830e+06,5.411190e+05,9.347660e+05,1.062520e+05,2.309000e+05,5.169350e+05,7.210070e+05,7.591230e+05,...,1.932637e+06,2.456035e+06,3.244156e+06,2.991219e+06,2.449888e+06,1.583868e+06,1.645525e+06,1.307333e+06,1.526659e+06,NaN
Horse-gram,2.424140e+05,2.775970e+05,3.592630e+05,2.959470e+05,2.556570e+05,2.047000e+05,2.070640e+05,2.317190e+05,2.365070e+05,2.213900e+05,...,1.921870e+05,1.802990e+05,2.110990e+05,2.275890e+05,1.945590e+05,9.275100e+04,2.451710e+05,2.407440e+05,2.957590e+05,12844.0
Jowar,7.309335e+06,8.613248e+06,8.796877e+06,7.712942e+06,7.543634e+06,7.001744e+06,6.656948e+06,7.061909e+06,7.221632e+06,6.969280e+06,...,5.730084e+06,5.372419e+06,6.263185e+06,5.746456e+06,3.896324e+06,4.997992e+06,5.822466e+06,3.834906e+06,4.896201e+06,NaN
Jute,9.939551e+06,8.883415e+06,9.473741e+06,9.323541e+06,1.052711e+07,1.026222e+07,1.024420e+07,9.384546e+06,9.973409e+06,1.043313e+07,...,1.073494e+07,1.035457e+07,1.106731e+07,1.107386e+07,9.929635e+06,1.043309e+07,9.552835e+06,8.440660e+06,9.283060e+06,NaN
Khesari,2.846000e+04,2.085000e+04,1.819710e+05,2.946290e+05,3.870130e+05,3.106020e+05,4.423580e+05,2.882130e+05,3.174390e+05,3.724640e+05,...,3.659930e+05,3.192360e+05,3.088180e+05,3.989790e+05,2.820830e+05,3.733710e+05,2.632870e+05,2.483550e+05,1.801640e+05,NaN
Linseed,1.813420e+05,2.264700e+05,2.375760e+05,1.679300e+05,1.911810e+05,1.673570e+05,1.692750e+05,1.502490e+05,1.451270e+05,1.356190e+05,...,1.169430e+05,1.143340e+05,9.887800e+04,1.047130e+05,9.787500e+04,1.390290e+05,1.640130e+05,9.292700e+04,1.206240e+05,NaN
Maize,1.003280e+07,1.033608e+07,1.157440e+07,1.197740e+07,1.267334e+07,1.102521e+07,1.463903e+07,1.382333e+07,1.476411e+07,1.473079e+07,...,2.222508e+07,2.334409e+07,2.627975e+07,2.491452e+07,2.272112e+07,2.761218e+07,3.312276e+07,2.844779e+07,3.262485e+07,41538.0
Masoor,4.038300e+05,4.950330e+05,4.262680e+05,6.933060e+05,7.310600e+05,6.703490e+05,8.050350e+05,4.920460e+05,5.089890e+05,9.054040e+05,...,1.008720e+06,1.058869e+06,9.632950e+05,9.774050e+05,1.226030e+06,1.460662e+06,1.610117e+06,1.219656e+06,1.103037e+06,6998.0
Mesta,8.370760e+05,8.080910e+05,4.394650e+05,1.175429e+06,9.197440e+05,8.585880e+05,7.733260e+05,7.248420e+05,7.822390e+05,8.521000e+05,...,5.707170e+05,3.116950e+05,5.103810e+05,4.411540e+05,5.411930e+05,3.219500e+05,2.432970e+05,2.440040e+05,2.897480e+05,NaN
Moong(Green Gram),5.360080e+05,1.009550e+06,1.204870e+06,1.030706e+06,9.676070e+05,8.694420e+05,1.663977e+06,9.986550e+05,9.474130e+05,1.058117e+06,...,1.604231e+06,1.082579e+06,1.427327e+06,1.385030e+06,2.033170e+06,2.236803e+06,2.357448e+06,2.219762e+06,2.849167e+06,11.0
Moth,5.956570e+05,1.180500e+05,3.152800e+04,1.445820e+05,3.240250e+05,3.104500e+04,8.190970e+05,2.046040e+05,1.740470e+05,2.063790e+05,...,4.721060e+05,2.434830e+05,2.824890e+05,3.458000e+05,3.232330e+05,4.509070e+05,3.421910e+05,2.244800e+05,3.201250e+05,24.0
Niger seed,3.868154e+07,5.137300e+04,1.297140e+05,1.057430e+05,1.981620e+05,8.458500e+04,1.078900e+05,1.081290e+05,7.017100e+04,6.820700e+04,...,5.816700e+04,6.384800e+04,6.429200e+04,1.142960e+05,1.163830e+05,1.249140e+05,1.220970e+05,1.017520e+05,2.316300e+04,NaN
Oilseeds total,2.429000e+04,3.870331e+06,2.722800e+04,2.725200e+04,2.930700e+04,2.982100e+04,2.847800e+04,2.628100e+04,2.369500e+04,2.926500e+04,...,3.304700e+04,3.133700e+04,3.164900e+04,3.396500e+04,1.981961e+06,2.491352e+06,2.876526e+06,2.470359e+06,3.164745e+06,NaN
Onion,1.092206e+06,2.956316e+06,3.662926e+06,2.487088e+06,2.878134e+06,3.245248e+06,5.673149e+06,4.503183e+06,5.596092e+06,4.202638e+06,...,6.699311e+06,4.139310e+06,7.907053e+06,5.514730e+06,9.979409e+06,1.060190e+07,1.085389e+07,9.575381e+06,1.165018e+07,49670.0
Other Rabi pulses,1.545750e+05,6.289110e+05,8.813570e+05,4.469970e+05,5.423650e+05,4.381670e+05,4.827970e+05,1.611560e+05,1.563150e+05,5.424600e+05,...,1.056690e+05,9.060100e+04,1.050170e+05,9.819600e+04,1.866990e+05,1.733330e+05,2.525710e+05,2.113720e+05,2.716060e+05,21.0
Other Cereals,NaN,1.007000e+05,3.300000e+03,8.268100e+04,3.387000e+03,2.968000e+03,8.803200e+04,1.449150e+05,1.086420e+05,7.934600e+04,...,6.884400e+04,4.589900e+04,3.240800e+04,4.109000e+03,4.949100e+04,1.550000e+05,5.760100e+04,5.322000e+04,1.211670e+05,683.0
Other Kharif pulses,7.846200e+04,2.540340e+05,3.892020e+05,4.265480e+05,3.809060e+05,3.534630e+05,4.828730e+05,2.282390e+05,2.133860e+05,5.818100e+05,...,2.186960e+05,1.447840e+05,1.634270e+05,1.655780e+05,2.514080e+05,1.721530e+05,2.513960e+05,1.887730e+05,2.287580e+05,15379.0
Other Summer Pulses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.458000e+03,7.330000e+02,6.600000e+02,5.543000e+03,NaN
Peas & beans (Pulses),4.976410e+05,5.970800e+05,6.320760e+05,4.278550e+05,5.409780e+05,5.132870e+05,6.495100e+05,7.677800e+04,2.535480e+05,1.982270e+05,...,6.973220e+05,7.031710e+05,7.815480e+05,8.138530e+05,9.676580e+05,1.335729e+06,1.124947e+06,9.555820e+05,1.034858e+06,4135.0
Potato,1.452688e+07,2.075275e+07,2.223070e+07,2.037884e+07,2.234520e+07,2.221488e+07,2.230462e+07,2.197137e+07,2.260089e+07,1.958492e+07,...,2.757622e+07,3.046810e+07,2.734791e+07,3.279917e+07,3.264341e+07,4.107848e+07,4.218223e+07,4.036309e+07,3.961274e+07,114638.0
Ragi,1.657002e+06,2.688133e+06,2.416319e+06,2.637569e+06,2.326537e+06,1.306247e+06,1.890155e+06,2.289564e+06,2.279826e+06,1.295837e+06,...,1.804425e+06,1.559240e+06,2.057440e+06,2.055314e+06,1.834658e+06,1.009798e+06,2.260014e+06,1.246043e+06,1.762291e+06,125898.0
Rapeseed &Mustard,3.832839e+06,5.033427e+06,5.373887e+06,3.697859e+06,4.731970e+06,3.595694e+06,5.963476e+06,7.247028e+06,7.896713e+06,7.120982e+06,...,6.403065e+06,7.891726e+06,7.308631e+06,5.963155e+06,6.629552e+06,7.927234e+06,8.415434e+06,9.966464e+06,9.101979e+06,11853.0
Rice,6.131756e+07,8.306501e+07,8.351114e+07,8.324865e+07,9.019796e+07,7.160333e+07,8.802706e+07,8.420229e+07,8.961393e+07,9.225179e+07,...,1.050590e+08,1.076318e+08,1.113647e+08,1.147299e+08,1.017974e+08,1.189361e+08,1.181793e+08,1.186900e+08,1.346315e+08,724429.0
Safflower,3.302000e+03,2.354500e+05,2.597390e+05,2.018050e+05,2.201740e+05,1.792450e+05,1.364660e+05,1.794810e+05,2.290540e+05,2.381020e+05,...,1.134110e+05,8.905900e+04,1.244690e+05,6.931100e+04,4.162000e+04,9.243400e+04,5.605900e+04,2.416000e+04,4.201600e+04,NaN
Sannhamp,1.135500e+04,1.796500e+04,6.448200e+04,6.769800e+04,2.120800e+04,2.262500e+04,2.329300e+04,1.339100e+04,1.219500e+04,1.226800e+04,...,1.131700e+04,1.179000e+04,1.313100e+04,5.734000e+03,5.924000e+03,6.143000e+03,6.763000e+03,3.562000e+03,3.030000e+04,NaN
Sesamum,4.387120e+05,5.394780e+05,5.541730e+05,5.290430e+05,6.768770e+05,4.217790e+05,7.651680e+05,6.692120e+05,6.565980e+05,6.668790e+05,...,8.215640e+05,8.454720e+05,6.538340e+05,8.158550e+05,8.210170e+05,7.858020e+05,7.771920e+05,6.863510e+05,6.567260e+05,537.0
Small millets,5.107480e+05,6.747310e+05,4.575490e+05,4.953430e+05,5.048280e+05,3.803670e+05,4.230880e+05,3.699860e+05,2.713910e+05,4.158060e+05,...,3.591050e+05,3.371070e+05,4.019550e+05,3.349220e+05,3.840550e+05,3.618800e+05,3.819750e+05,2.930710e+05,3.487770e+05,65289.0
Soyabean,5.537713e+06,7.106821e+06,6.834358e+06,5.253274e+06,5.921466e+06,4.583853e+06,7.788019e+06,6.854980e+06,8.554640e+06,8.817146e+06,...,1.244353e+07,1.499138e+07,1.085802e+07,9.774198e+06,7.611866e+06,1.318245e+07,1.111167e+07,1.254482e+07,1.019675e+07,8800.0
Sugarcane,2.014071e+08,2.669867e+08,3.011512e+08,2.961902e+08,2.965834e+08,2.871574e+08,2.398483e+08,2.299088e+08,2.857611e+08,3.350200e+08,...,3.462448e+08,3.399394e+08,3.667770e+08,3.831583e+08,3.401721e+08,3.215619e+08,3.843295e+08,4.045828e+08,3.672102e+08,7970299.0
Sunflower,2.338180e+05,7.760300e+05,5.407700e+05,6.164790e+05,6.651840e+05,8.457010e+05,9.197930e+05,1.297053e+06,1.284496e+06,1.044841e+06,...,4.196480e+05,4.831590e+05,4.531810e+05,3.811990e+05,2.313200e+05,2.208070e+05,2.495100e+05,1.790850e+05,2.119050e+05,4.0
Sweet potato,2.357190e+05,2.760230e+05,5.881240e+05,4.742450e+05,4.874710e+05,5.971440e+05,6.102250e+05,8.912050e+05,4.980990e+05,4.055240e+05,...,3.649430e+05,3.825560e+05,3.997820e+05,3.763210e+05,3.749670e+05,3.743590e+05,4.050870e+05,4.507530e+05,8.975270e+05,NaN
Tapioca,2.881590e+06,5.596386e+06,6.010718e+06,6.825440e+06,2.653607e+06,4.698211e+06,5.925673e+06,7.140169e+06,7.595507e+06,8.420099e+06,...,6.752145e+06,2.789734e+06,5.287507e+06,6.129265e+06,5.266167e+06,4.751704e+06,5.633793e+06,5.178984e+06,5.883610e+06,NaN
Tobacco,4.012090e+05,5.803890e+05,5.524140e+05,7.028930e+05,7.261300e+05,8.071920e+05,8.828000e+05,9.402830e+05,1.052362e+06,8.787880e+05,...,1.330597e+06,8.676570e+05,9.578250e+05,1.075226e+06,9.335710e+05,9.732260e+05,1.298568e+06,9.420350e+05,1.162818e+06,6.0
Turmeric,6.498400e+04,2.023650e+05,2.926410e+05,3.076600e+05,1.515950e+05,5.598650e+05,2.052080e+05,2.518830e+05,2.407260e+05,2.869630e+05,...,5.682980e+05,1.637710e+05,5.439540e+05,5.056470e+05,6.413710e+05,8.857400e+05,7.975730e+05,9.287310e+05,1.042547e+06,4186.0
Urad,7.856710e+05,1.160841e+06,1.437136e+06,1.250692e+06,1.303678e+06,1.276617e+06,1.428299e+06,1.033248e+06,9.798320e+05,1.127622e+06,...,1.737712e+06,1.729928e+06,1.563688e+06,1.860503e+06,1.854489e+06,2.880142e+06,3.933663e+06,3.001110e+06,2.083610e+06,13351.0
Wheat,6.470464e+07,7.067807e+07,7.598774e+07,6.958500e+07,7.274060e+07,6.584034e+07,7.286345e+07,6.964788e+07,6.738447e+07,7.787083e+07,...,1.031160e+08,1.001402e+08,1.030523e+08,8.495817e+07,9.447139e+07,1.135476e+08,1.116353e+08,1.195103e+08,1.324181e+08,937003.0
other oilseeds,NaN,7.731000e+03,NaN,4.360000e+02,1.260000e+02,1.747500e+04,3.149970e+05,3.150000e+02,8.580000e+02,4.802000e+03,...,1.120916e+06,5.502200e+04,1.486074e+06,1.417878e+06,9.601400e+04,1.138170e+05,1.804472e+06,2.012378e+06,2.749614e+06,30.0

In [19]:
#using group-by
data.groupby(['Crop','Crop_Year'])['Production'].sum().unstack().head()

Crop_Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Crop,,,,,,,,,,,,,,,,,,,,,
Arecanut,308584.0,799274.0,163905.0,355415.0,376514.0,185755.0,417179.0,340328.0,1277052.0,529648.0,...,1976272.0,2013331.0,2632202.0,2428380.0,2671675.0,2806129.0,3254257.0,4459325.0,5616624.0,NaN
Arhar/Tur,1713966.0,2631971.0,2548362.0,2250868.0,2245522.0,1795802.0,2325568.0,1844834.0,2182634.0,2142357.0,...,2466955.0,2829836.0,3021118.0,2078572.0,2166798.0,5566946.0,4393212.0,3162968.0,4002570.0,3992.0
Bajra,7413318.0,7066586.0,5790675.0,6918314.0,8282554.0,4727075.0,12076535.0,8065418.0,7140932.0,8362733.0,...,12420188.0,8790516.0,9975276.0,9465871.0,7844496.0,9808929.0,9317335.0,8663982.0,11187272.0,NaN
Banana,1612186.0,6261125.0,5799103.0,6621168.0,4217203.0,6377277.0,10956905.0,7770000.0,9736783.0,11381485.0,...,12718128.0,4225699.0,10959123.0,9485918.0,11177201.0,11389806.0,17959279.0,19276997.0,18997037.0,NaN
Barley,1637528.0,1517019.0,1415660.0,1418426.0,1418042.0,1378846.0,1305739.0,1172425.0,1182367.0,1250273.0,...,1601559.0,1818542.0,1812277.0,1537673.0,1516953.0,1931653.0,1931234.0,1508052.0,1800494.0,24479.0

(iv) Which crop, in which year, produced the highest average yield

In [20]:
year_wise_yield = data.pivot_table(index='Crop', columns='Crop_Year', values='Yield', aggfunc='mean')
melted = year_wise_yield.reset_index().melt(id_vars='Crop', value_vars=year_wise_yield.columns, var_name='Crop_Year', value_name='Yield')

highest_yield_row = melted.loc[melted['Yield'].idxmax()]

print("Crop and year with the highest average yield:")
print(f"Crop: {highest_yield_row['Crop']}")
print(f"Year: {int(highest_yield_row['Crop_Year'])}")
print(f"Average Yield: {highest_yield_row['Yield']}")

Crop and year with the highest average yield:
Crop: Coconut
Year: 2009
Average Yield: 9976.361985815603

In [47]:
melted

                Crop Crop_Year      Yield
0           Arecanut      1997   1.199600
1          Arhar/Tur      1997   0.665933
2              Bajra      1997   1.012835
3             Banana      1997  28.935814
4             Barley      1997   1.746478
...              ...       ...        ...
1315         Tobacco      2020   2.000000
1316        Turmeric      2020   2.808333
1317            Urad      2020   1.134375
1318           Wheat      2020   2.216154
1319  other oilseeds      2020   0.696250

[1320 rows x 3 columns]

##3.Cleaning

(i) Change inconsistent columns values like 'State' and 'District' from uppercase to
lowercase and remove trailing or leading spaces

In [22]:
data['State'] = data['State'].str.lower().str.strip()
data['District'] = data['District'].str.lower().str.strip()

#verification
print('States:')
print(data['State'].unique())
print('\nDistricts')
print(data['District'].unique())

States:
['andaman and nicobar island' 'andhra pradesh' 'arunachal pradesh' 'assam'
 'bihar' 'chandigarh' 'chhattisgarh' 'dadra and nagar haveli'
 'daman and diu' 'delhi' 'goa' 'gujarat' 'haryana' 'himachal pradesh'
 'jammu and kashmir' 'jharkhand' 'karnataka' 'kerala' 'laddak'
 'madhya pradesh' 'maharashtra' 'manipur' 'meghalaya' 'mizoram' 'nagaland'
 'odisha' 'puducherry' 'punjab' 'rajasthan' 'sikkim' 'tamil nadu'
 'telangana' 'the dadra and nagar haveli' 'tripura' 'uttar pradesh'
 'uttarakhand' 'west bengal']

Districts
['nicobars' 'north and middle andaman' 'south andamans' 'anantapur'
 'east godavari' 'krishna' 'vizianagaram' 'west godavari' 'adilabad'
 'chittoor' 'guntur' 'kadapa' 'karimnagar' 'khammam' 'kurnool'
 'mahbubnagar' 'medak' 'nalgonda' 'nizamabad' 'prakasam' 'rangareddi'
 'spsr nellore' 'srikakulam' 'visakhapatanam' 'warangal' 'hyderabad'
 'dibang valley' 'east kameng' 'east siang' 'kamle' 'leparada' 'lohit'
 'longding' 'lower dibang valley' 'lower siang' 'lower subansiri' 'namsai'
 'pakke kessang' 'papum pare' 'siang' 'tirap' 'upper siang'
 'upper subansiri' 'west siang' 'anjaw' 'changlang' 'kra daadi'
 'kurung kumey' 'shi yomi' 'tawang' 'west kameng' 'baksa' 'barpeta'
 'biswanath' 'bongaigaon' 'cachar' 'charaideo' 'chirang' 'darrang'
 'dhemaji' 'dhubri' 'dibrugarh' 'dima hasao' 'goalpara' 'golaghat'
 'hailakandi' 'hojai' 'jorhat' 'kamrup' 'kamrup metro' 'karbi anglong'
 'karimganj' 'kokrajhar' 'lakhimpur' 'majuli' 'marigaon' 'nagaon'
 'nalbari' 'sivasagar' 'sonitpur' 'south salmara mancachar' 'tinsukia'
 'udalguri' 'west karbi anglong' 'araria' 'arwal' 'aurangabad' 'banka'
 'begusarai' 'bhagalpur' 'bhojpur' 'bokaro' 'buxar' 'chatra' 'darbhanga'
 'deoghar' 'dhanbad' 'dumka' 'east singhbum' 'garhwa' 'gaya' 'giridih'
 'godda' 'gopalganj' 'gumla' 'hazaribagh' 'jamui' 'jehanabad'
 'kaimur (bhabua)' 'katihar' 'khagaria' 'kishanganj' 'koderma'
 'lakhisarai' 'lohardaga' 'madhepura' 'madhubani' 'munger' 'muzaffarpur'
 'nalanda' 'nawada' 'pakur' 'palamu' 'pashchim champaran' 'patna'
 'purbi champaran' 'purnia' 'ranchi' 'rohtas' 'saharsa' 'sahebganj'
 'samastipur' 'saran' 'sheikhpura' 'sheohar' 'sitamarhi' 'siwan' 'supaul'
 'vaishali' 'west singhbhum' 'chandigarh' 'balod' 'baloda bazar'
 'balrampur' 'bastar' 'bemetara' 'bijapur' 'bilaspur' 'dantewada'
 'dhamtari' 'durg' 'gariyaband' 'gaurella-pendra-marwahi' 'janjgir-champa'
 'jashpur' 'kabirdham' 'kanker' 'kondagaon' 'korba' 'korea' 'mahasamund'
 'mungeli' 'narayanpur' 'raigarh' 'raipur' 'rajnandgaon' 'sukma'
 'surajpur' 'surguja' 'dadra and nagar haveli' 'diu' 'daman' 'delhi_total'
 'north goa' 'south goa' 'ahmadabad' 'amreli' 'anand' 'aravalli'
 'banas kantha' 'bharuch' 'bhavnagar' 'botad' 'chhotaudepur' 'dang'
 'devbhumi dwarka' 'dohad' 'gandhinagar' 'gir somnath' 'jamnagar'
 'junagadh' 'kachchh' 'kheda' 'mahesana' 'mahisagar' 'morbi' 'narmada'
 'navsari' 'panch mahals' 'patan' 'porbandar' 'rajkot' 'sabar kantha'
 'surat' 'surendranagar' 'tapi' 'vadodara' 'valsad' 'ambala' 'bhiwani'
 'charki dadri' 'faridabad' 'fatehabad' 'gurgaon' 'hisar' 'jhajjar' 'jind'
 'kaithal' 'karnal' 'kurukshetra' 'mahendragarh' 'mewat' 'palwal'
 'panchkula' 'panipat' 'rewari' 'rohtak' 'sirsa' 'sonipat' 'yamunanagar'
 'chamba' 'kangra' 'kullu' 'mandi' 'shimla' 'sirmaur' 'solan' 'una'
 'hamirpur' 'kinnaur' 'lahul and spiti' 'jammu' 'samba' 'bandipora' 'doda'
 'kathua' 'kishtwar' 'kupwara' 'leh ladakh' 'rajauri' 'reasi' 'udhampur'
 'baramulla' 'ganderbal' 'ramban' 'srinagar' 'badgam' 'anantnag' 'kulgam'
 'poonch' 'pulwama' 'shopian' 'kargil' 'jamtara' 'khunti' 'latehar'
 'ramgarh' 'saraikela kharsawan' 'simdega' 'bagalkote' 'ballari'
 'bangalore rural' 'belagavi' 'bengaluru urban' 'chamarajanagara'
 'chikkaballapura' 'chikkamagaluru' 'chitradurga' 'dakshina kannada'
 'davangere' 'dharwad' 'gadag' 'hassan' 'haveri' 'kalaburagi' 'kodagu'
 'kolar' 'mandya' 'mysuru' 'ramanagara' 'shivamogga' 'tumakuru' 'udupi'
 'uttara kannada' 'vijayapura' 'bidar' 'koppal' 'raichur' 'yadagiri'
 'alappuzha' 'ernakulam' 'idukki' 'kannur' 'kasaragod' 'kollam' 'kottayam'
 'kozhikode' 'malappuram' 'palakkad' 'pathanamthitta' 'thiruvananthapuram'
 'thrissur' 'wayanad' 'agar malwa' 'alirajpur' 'anuppur' 'ashoknagar'
 'balaghat' 'barwani' 'betul' 'bhind' 'bhopal' 'burhanpur' 'chhatarpur'
 'chhindwara' 'damoh' 'datia' 'dewas' 'dhar' 'dindori' 'guna' 'gwalior'
 'harda' 'hoshangabad' 'indore' 'jabalpur' 'jhabua' 'katni' 'khandwa'
 'khargone' 'mandla' 'mandsaur' 'morena' 'narsinghpur' 'neemuch' 'panna'
 'raisen' 'rajgarh' 'ratlam' 'rewa' 'sagar' 'satna' 'sehore' 'seoni'
 'shahdol' 'shajapur' 'sheopur' 'shivpuri' 'sidhi' 'singrauli' 'tikamgarh'
 'ujjain' 'umaria' 'vidisha' 'niwari' 'ahmednagar' 'akola' 'amravati'
 'beed' 'bhandara' 'buldhana' 'chandrapur' 'dhule' 'gadchiroli' 'gondia'
 'hingoli' 'jalgaon' 'jalna' 'kolhapur' 'latur' 'nagpur' 'nanded'
 'nandurbar' 'nashik' 'osmanabad' 'palghar' 'parbhani' 'pune' 'raigad'
 'ratnagiri' 'sangli' 'satara' 'sindhudurg' 'solapur' 'thane' 'wardha'
 'washim' 'yavatmal' 'mumbai suburban' 'mumbai' 'bishnupur' 'chandel'
 'churachandpur' 'imphal east' 'imphal west' 'senapati' 'tamenglong'
 'thoubal' 'ukhrul' 'east garo hills' 'east jaintia hills'
 'east khasi hills' 'north garo hills' 'ri bhoi' 'south garo hills'
 'south west garo hills' 'south west khasi hills' 'west garo hills'
 'west jaintia hills' 'west khasi hills' 'aizawl' 'champhai' 'kolasib'
 'lawngtlai' 'lunglei' 'mamit' 'saiha' 'serchhip' 'dimapur' 'kiphire'
 'kohima' 'longleng' 'mokokchung' 'mon' 'peren' 'phek' 'tuensang' 'wokha'
 'zunheboto' 'anugul' 'balangir' 'baleshwar' 'bargarh' 'bhadrak' 'boudh'
 'cuttack' 'deogarh' 'dhenkanal' 'gajapati' 'ganjam' 'jagatsinghapur'
 'jajapur' 'jharsuguda' 'kalahandi' 'kandhamal' 'kendrapara' 'kendujhar'
 'khordha' 'koraput' 'malkangiri' 'mayurbhanj' 'nabarangpur' 'nayagarh'
 'nuapada' 'puri' 'rayagada' 'sambalpur' 'sonepur' 'sundargarh' 'mahe'
 'karaikal' 'pondicherry' 'yanam' 'amritsar' 'barnala' 'bathinda'
 'faridkot' 'fatehgarh sahib' 'fazilka' 'firozepur' 'gurdaspur'
 'hoshiarpur' 'jalandhar' 'kapurthala' 'ludhiana' 'mansa' 'moga' 'muktsar'
 'patiala' 'rupnagar' 's nagar' 'sangrur' 'shahid bhagat singh nagar'
 'tarn taran' 'pathankot' 'ajmer' 'alwar' 'banswara' 'baran' 'barmer'
 'bharatpur' 'bhilwara' 'bikaner' 'bundi' 'chittorgarh' 'dausa' 'dholpur'
 'dungarpur' 'ganganagar' 'hanumangarh' 'jaipur' 'jaisalmer' 'jalore'
 'jhalawar' 'jhunjhunu' 'jodhpur' 'karauli' 'kota' 'nagaur' 'pali'
 'pratapgarh' 'rajsamand' 'sawai madhopur' 'sikar' 'sirohi' 'tonk'
 'udaipur' 'churu' 'east district' 'north district' 'south district'
 'west district' 'ariyalur' 'coimbatore' 'cuddalore' 'dharmapuri'
 'dindigul' 'erode' 'kanniyakumari' 'karur' 'krishnagiri' 'madurai'
 'nagapattinam' 'namakkal' 'perambalur' 'pudukkottai' 'salem' 'thanjavur'
 'the nilgiris' 'theni' 'thiruvarur' 'tiruchirappalli' 'tirunelveli'
 'tiruppur' 'tiruvannamalai' 'vellore' 'villupuram' 'virudhunagar'
 'kanchipuram' 'ramanathapuram' 'sivaganga' 'thiruvallur' 'tuticorin'
 'chennai' 'kallakurichi' 'tenkasi' 'tirupathur' 'chengalpattu' 'ranipet'
 'bhadradri' 'hanumakonda' 'jagitial' 'jangoan' 'jayashankar' 'jogulamba'
 'kamareddy' 'komaram bheem asifabad' 'mahabubabad' 'mancherial'
 'medchal malkajgiri' 'mulugu' 'nagarkurnool' 'narayanapet' 'nirmal'
 'peddapalli' 'rajanna' 'sangareddy' 'siddipet' 'suryapet' 'vikarabad'
 'wanaparthy' 'yadadri' 'dhalai' 'gomati' 'khowai' 'north tripura'
 'sepahijala' 'south tripura' 'unakoti' 'west tripura' 'agra' 'aligarh'
 'allahabad' 'almora' 'ambedkar nagar' 'amethi' 'amroha' 'auraiya'
 'azamgarh' 'baghpat' 'bahraich' 'ballia' 'banda' 'barabanki' 'bareilly'
 'basti' 'bijnor' 'budaun' 'bulandshahr' 'chamoli' 'chandauli'
 'chitrakoot' 'dehradun' 'deoria' 'etah' 'etawah' 'faizabad' 'farrukhabad'
 'fatehpur' 'firozabad' 'gautam buddha nagar' 'ghaziabad' 'ghazipur'
 'gonda' 'gorakhpur' 'hapur' 'hardoi' 'haridwar' 'hathras' 'jalaun'
 'jaunpur' 'jhansi' 'kannauj' 'kanpur dehat' 'kanpur nagar' 'kasganj'
 'kaushambi' 'kheri' 'kushi nagar' 'lalitpur' 'lucknow' 'maharajganj'
 'mahoba' 'mainpuri' 'mathura' 'mau' 'meerut' 'mirzapur' 'moradabad'
 'muzaffarnagar' 'nainital' 'pauri garhwal' 'pilibhit' 'pithoragarh'
 'rae bareli' 'rampur' 'saharanpur' 'sambhal' 'sant kabeer nagar'
 'sant ravidas nagar' 'shahjahanpur' 'shamli' 'shravasti'
 'siddharth nagar' 'sitapur' 'sonbhadra' 'sultanpur' 'tehri garhwal'
 'udam singh nagar' 'unnao' 'uttar kashi' 'varanasi' 'bageshwar'
 'champawat' 'rudra prayag' 'paraganas north' 'paraganas south' 'bankura'
 'birbhum' 'coochbehar' 'darjeeling' 'dinajpur dakshin' 'dinajpur uttar'
 'hooghly' 'howrah' 'jalpaiguri' 'maldah' 'medinipur east'
 'medinipur west' 'murshidabad' 'nadia' 'purba bardhaman' 'purulia'
 'alipurduar' 'jhargram' 'kalimpong' 'paschim bardhaman']

(ii) Instead of filling missing Production with 0 or a global mean, impute the NaN values by calculating Area * (Average_Yield). The Average_Yield should be the average for that specific District and Crop combination.

In [23]:
data['Average_District_Crop_Yield'] = data.groupby(['District', 'Crop'])['Yield'].transform('mean')
print(data['Average_District_Crop_Yield'])

imputed = data['Area'] * data['Average_District_Crop_Yield']
print(imputed)


data['Production'] = data['Production'].fillna(imputed)

# Verify that the missing values in 'Production' are filled
print("\nMissing values in 'Production' after imputation:")
print(data['Production'].isnull().sum())

0         0.848696
1         0.848696
2         0.848696
3         0.848696
4         0.848696
            ...
345331    2.056087
345332    2.056087
345333    2.056087
345334    2.056087
345335    2.056087
Name: Average_District_Crop_Yield, Length: 345336, dtype: float64
0         2070.477913
1         1380.318609
2         3519.540870
3         3519.540870
4         3524.633043
             ...
345331    1757.954348
345332    2808.614783
345333    2163.003478
345334    1712.720435
345335    1060.940870
Length: 345336, dtype: float64

Missing values in 'Production' after imputation:
4

(iii) Find the wheat production of Odisha state

In [24]:
odisha_wheat=data[(data['State'] == 'odisha') & (data['Crop'] == 'Wheat')]
total_wheat_prod = odisha_wheat['Production'].sum()
print(f"Total Wheat Production in Odisha: {total_wheat_prod}")

Total Wheat Production in Odisha: 121331.0

##4.Enrichment

(i) Merge with External Data

In [25]:
external=pd.read_csv("/content/Crop_Production1.csv")
external.head()

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Delhi,DELHI_TOTAL,Arhar/Tur,2003,Kharif,134,189.0,1.41
1,Delhi,DELHI_TOTAL,Arhar/Tur,2004,Kharif,119,170.0,1.43
2,Delhi,DELHI_TOTAL,Arhar/Tur,2005,Kharif,151,227.0,1.50
3,Delhi,DELHI_TOTAL,Arhar/Tur,2006,Kharif,385,578.0,1.50
4,Delhi,DELHI_TOTAL,Bajra,1998,Kharif,2595,2091.0,0.81

In [36]:
print("Main DataFrame dtypes:\n", data.dtypes)
print("\nExternal DataFrame dtypes:\n", external.dtypes)

Main DataFrame dtypes:
 State                           object
District                        object
Crop                            object
Crop_Year                        int64
Season                          object
Area                           float64
Production                     float64
Yield                          float64
Average_District_Crop_Yield    float64
dtype: object

External DataFrame dtypes:
 State          object
District       object
Crop           object
Crop_Year       int64
Season         object
Area          float64
Production    float64
Yield         float64
dtype: object

In [42]:
# Clean text columns for consistent matching
for col in ['State', 'District', 'Crop', 'Season']:
    data[col] = data[col].str.strip().str.lower()
    external[col] = external[col].str.strip().str.lower()

# Convert numeric columns to same types
external['Area'] = external['Area'].astype(float)

# Merge again on key identifiers (not all columns)
common_keys = ['State', 'District', 'Crop', 'Crop_Year', 'Season']
merged_df = pd.merge(data, external, on=common_keys, how='inner', suffixes=('_main', '_ext'))

print("Merged shape:", merged_df.shape)
merged_df.head()

Merged shape: (1756, 12)

,State,District,Crop,Crop_Year,Season,Area_main,Production_main,Yield_main,Average_District_Crop_Yield,Area_ext,Production_ext,Yield_ext
0,delhi,delhi_total,arhar/tur,2003,kharif,134.0,189.0,1.41,1.460000,134.0,189.0,1.41
1,delhi,delhi_total,arhar/tur,2004,kharif,119.0,170.0,1.43,1.460000,119.0,170.0,1.43
2,delhi,delhi_total,arhar/tur,2005,kharif,151.0,227.0,1.50,1.460000,151.0,227.0,1.50
3,delhi,delhi_total,arhar/tur,2006,kharif,385.0,578.0,1.50,1.460000,385.0,578.0,1.50
4,delhi,delhi_total,bajra,1998,kharif,2595.0,2091.0,0.81,1.979091,2595.0,2091.0,0.81

(ii) Create new column {Pollutant ratios} derived from existing columns {SO2,NOx}

In [44]:
city=pd.read_csv('/content/city_day.csv')

In [46]:
city.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant_ratios
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,1.611662
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,1.491495
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,0.978788
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,1.034502
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,1.041578

In [45]:
city['Pollutant_ratios'] = city['SO2'] / city['NOx']
city.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant_ratios
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,1.611662
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,1.491495
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,0.978788
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,1.034502
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,1.041578

##5.Validating

(i) The Yield column should equal Production / Area. Create a new column called Calculated_Yield using this formula.  
Then, find the sum of the difference between Calculated_Yield and Yield to see if the original data was accurate.

In [31]:
data['Calculated_Yield']=data['Production']/data['Area']

difference_sum = (data['Calculated_Yield'] - data['Yield']).sum()

print(f"Sum of the difference between Calculated_Yield and Yield: {difference_sum}")

Sum of the difference between Calculated_Yield and Yield: 20445.73860556538

(ii) Check if any Area, Production, or Yield values are negative.  
Check if Production > 0 and Area == 0  
Check if any Crop_Year is in the future (e.g., > 2024).

In [32]:
print("Checking for negative values:")
print("Negative Area:", data[data['Area'] < 0].shape[0])
print("Negative Production:", data[data['Production'] < 0].shape[0])
print("Negative Yield:", data[data['Yield'] < 0].shape[0])

print("\nChecking for Production > 0 and Area == 0:")
print("Count:", data[(data['Production'] > 0) & (data['Area'] == 0)].shape[0])

print("\nChecking for future Crop_Year:")
print("Future Crop_Years:", data[data['Crop_Year'] > 2024].shape[0])

Checking for negative values:
Negative Area: 0
Negative Production: 0
Negative Yield: 0

Checking for Production > 0 and Area == 0:
Count: 0

Checking for future Crop_Year:
Future Crop_Years: 0